.zoom-container {
  animation: zoomIn 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
