.top-menu-container {
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;

	display: flex;
	flex-direction: row;
	justify-content: space-between; /* Permet d'écarter le bloc gauche du bloc droit */
	align-items: center;
	padding: 0 16px; /* Ajoute un peu de marge sur les bords */
	background-color: white;
	width: 100vw;
	min-height: 50px;
	z-index: 99999999;
}
.top-menu-icon,
.top-menu-title {
	display: flex;
	cursor: pointer;
	z-index: 99;
}
.top-menu-left {
	display: flex;
	align-items: center;
}

.top-menu-icon {
	width: 32px;
	margin-right: 12px;
}

.top-menu-right {
	display: flex;
	align-items: center;
}
.top-menu-title {
	align-self: center;
	text-align: center;
	font-weight: 700;
}

@media only screen and (min-width: 660px) {
	.top-menu-container {
		display: none;
	}
	.top-menu-title {

		font-size: 0.8rem;
	}
}
@media only screen and (max-width: 480px) {

	.top-menu-title {

		font-size: 0.8rem;
	}
}
