.flip-container {
    perspective: 1000px;
    animation: flip 0.6s;
  }
  
  .flip-container.horizontal {
    transform: rotateY(360deg);
  }
  
  .flip-container.vertical {
    transform: rotateX(360deg);
  }
  
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  