.scores-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
  margin-top: 150px;
  gap: 50px;
}

.branche-scores,
.branche-action {
  position: absolute;
  top: -18px;
  left: -16px;
  z-index: 10;
  width: 100%;
}
.branche-scores > img,
.branche-action > img {
  width: 100%;
  margin: 0;
}
.chat-assis {
  position: absolute;
  top: 77px;
  left: 39%;
  z-index: 339;
}
.chat-assis img {
  width: 60px;
  margin: 0;
}

.text-chat {
  width: 185px;
  border-radius: 8px;
  padding: 8px;
  border: 0.732px solid #2196f3;
  background: #edf4ff;
  position: absolute;
  top: -21px;
  left: 70px;
}

.scores-container ul {
  height: 100%;
  width: 100%;
}

.total-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

/* Panneau des équipes*/
.scores-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.scores-teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.scores-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.terre-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--alt-color);
  border-radius: 8px;
  border: 1px solid #2196f3;
  max-width: 500px;
}

.texte-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 1rem;
}
.texte-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.outlet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.scores-semaine-chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
}
.score-items {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.scores-semaine-chart > li {
  font-size: 0.9rem;
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* ---- Desktop modifs ---- */

.container-cadre {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50%;
  margin-top: -44px;
  gap: 32px;
}

.team-cadre-size {
  width: 166px;
  height: 459px;
  padding: 7em 1em;
}

.cadre-size {
  padding: 1rem;
}

.text-container-cadre {
  width: 100%;
}

.titre-cadre {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-cadre {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.text-team {
  justify-content: flex-start;
  height: 40px;
}

.text-team img {
  margin: 0 16px 0 0;
  width: 40px;
  height: 40px;
}

.titre-align {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.reload-anim > img {
  height: 32px;
  cursor: pointer;
}
.reload-anim > img:hover {
  transform: rotate(180deg);
}
.total-mobile-teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.panel-container {
  width: 90%;
  border-radius: 20px;
  /*  border: 2px solid white;*/
  background-color: rgb(255, 255, 255, 0.25);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 7px 30px -10px rgba(0, 0, 0, 0.58);
  box-shadow: 5px 7px 30px -10px rgba(0, 0, 0, 0.38);
}
.panel-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 10px;
}

.equipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1620px) {
  .chat-assis {
    top: 49px;
  }
}

@media screen and (max-width: 1366px) {
  .text-cadre {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .chat-assis {
    top: 42px;
  }
  .container-cadre {
    max-width: 90%;
  }
}

@media screen and (max-width: 1124px) {
  .container-cadre {
    gap: 16px;
    margin-top: -14px;
  }

  .cadre-size {
    width: 387px;
    height: 459px;
    padding: 5em 1.5em 1em;
  }

  .team-cadre-size {
    width: 146px;
    height: 459px;
    padding: 5rem 1rem 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text-team img {
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
  }
  .chat-assis {
    top: 24px;
  }
  .text-chat {
    top: -8px;
  }
}
@media screen and (max-width: 1024px) {
  .cadre-size {
    width: 607px;
    height: 730px;
    padding: 7.5em 2em 2em;
  }
  .tabs-contens {
    margin: -40px 0 68px;
  }
  .titre-cadre {
    display: none;
  }
  .branche-scores,
  .branche-action {
    top: 7px;
  }
}

/*MOBILE */

@media screen and (max-width: 1024px) {
  .scores-nav {
    width: 100%;
    margin-bottom: 40px;
  }

  .chat-assis img {
    width: 51px;
  }
  .text-chat {
    top: -8px;
    left: 73px;
  }
}
@media screen and (max-width: 800px) {
  .chat-assis {
    top: 0px;
  }
  .chat-assis img {
    width: 51px;
  }
  .text-chat {
    top: -8px;
    left: 73px;
  }
  .scores-container {
    margin-bottom: 36px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 660px) {
  .tabs-contens {
    margin-top: -40px;
  }

  .cadre-size {
    width: 534px;
    height: 642px;
    padding: 6.5em 2em 2em;
  }

  .titre-align {
    justify-content: center;
  }

  .reload-anim img {
    height: 29px;
  }
  .scores-container {
    width: 100vw;
    padding: 0 16px;
  }

  .branche-scores,
  .branche-action {
    top: 72px;
  }

  .chat-assis img {
    width: 42.62px;
  }
  .text-chat {
    width: 171px;
    left: 60px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 575px) {
  .cadre-size {
    width: 491px;
    height: 591px;
    padding: 6em 1.5em 1em;
  }
  .tabs-contens {
    margin-top: -34px;
  }
}
@media screen and (max-width: 480px) {
  .branche-scores,
  .branche-action {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
  }

  .chat-assis {
    top: -9px;
  }

  .terre-container {
    max-width: 380px;
  }
  .scores-semaine-chart {
    gap: 1px;
  }

  .cadre-size {
    width: 399px;
    height: 480px;
    padding: 5em 1.5em 0.5em;
  }
  .total-container {
    width: 72%;
  }
}
@media screen and (max-width: 430px) {
  .branche-scores,
  .branche-action {
    position: absolute;
    left: -8px;
    z-index: 10;
    width: 100%;
  }

  .text-cadre {
    font-size: 1rem;
  }
  .chat-assis {
    top: -5px;
    left: 121px;
  }
  .scores-container {
    margin-top: 80px;
    padding: 0;
  }
  .terre-container {
    max-width: 380px;
  }
  .scores-semaine-chart {
    gap: 1px;
  }
  .score-items {
    flex-direction: row;
  }
  .scores-semaine-title {
    width: 80%;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 390px) {
  .branche-scores,
  .branche-action {
    top: 78px;
  }
  .chat-assis {
    top: -15px;
  }
  .total-container {
    width: 64%;
  }
  .scores-semaine-chart {
    gap: 1px;
  }
}
